<div class="user_log_in">

</div>


<%= form_tag '/login' do %>
<div class="form_login">


  <form class="bootstrap-form-with-validation">
    <h2 class="text-center">Login into city services</h2>

    <div class="form-group has-success has-feedback">
        <label class="control-label" for="text-input">Email</label>
          <%= text_field_tag :email, nil, class: "form-control", placeholder: "Email" %>
    </div>

    <div class="form-group has-success has-feedback">
        <label class="control-label" for="text-input">Password</label>
          <%= password_field_tag :password, nil, class: "form-control", placeholder: "Password"  %>
    </div>

  <div class="form-group has-warning">
  <%= submit_tag "Submit", class: "btn btn-primary" %>
  </div>
</form>
</div>
<% end %>
