<div class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="intro">
                    <h1 class="text-center">Thank you for visiting</h1>
                    <p class="text-center"><span class="by">by</span> <a href="https://jhall0310.github.io/">Jonathan Hall</a><span class="date">Jan 24th, 2017 </span></p><img class="img-responsive" src="http://i.imgur.com/aUjqt8v.jpg"></div>
                <div class="text">
                    <p>My motivation for creating this project came from those around me.  While existing apps exist I felt improvements can be made on existing apps.</p>

                    <h2>Existing features for the future.</h2>
                    <p>In the future I would like add the ability for city managers to add invoices to inspections and the ability to close them out.</p>
                    <figure><img src="http://i.imgur.com/tJlDQGE.jpg">
                        <figcaption>More to come</figcaption>
                    </figure>
                    <p>Stay tuned for more to come this can be expanded to multiple phases in local goverment.</p>
                </div>
            </div>
        </div>
    </div>
</div>
