<main id="main" role="main">
<div class="jumbotron hero">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-7 phone-preview">
                    <div class="iphone-mockup">
                        <div class="screen"></div>
                    </div>
                </div>
                <div class="col-md-6 col-md-pull-3 get-it">
                    <h1>Inspection King</h1>
                    <p>A modern take on increasing the efficiency in submiting inspection request and receiving notifications from them.</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <section class="testimonials">
        <h2 class="text-center">People Love It!</h2>
        <blockquote>
            <p>It was so convenient, I could just check my phone and see the status of my request.</p>
            <footer>Star- famous developer</footer>
        </blockquote>
    </section>
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Features </h2>
                <p class="text-center"><b>Instructions: </b> To Start on the resident side in the top right sign up for an account and go to your profile page to submit a job for inspection. For a city offcial in the bottom left sign up for  an account to see how that side works.</p>
            </div>
            <div class="row features">
                <div class="col-md-4 col-sm-6 item">
                    <div class="box">
                        <div class="image-box"><img src="http://i.imgur.com/DoJbqp3.jpg" class="box-image img-responsive"></div>
                        <div class="info-box">
                            <h3 class="name">Contractors can use</h3>
                            <p class="description">Contractors can create and account and set up their own inspetion requests.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box">
                        <div class="image-box"><img src="http://i.imgur.com/un5tFfP.jpg" class="box-image img-responsive"></div>
                        <div class="info-box">
                            <h3 class="name">City Officials can manage</h3>
                            <p class="description">City officials can view available request and take ownership over them.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box">
                        <div class="image-box"><img src="http://i.imgur.com/uKQ9VwA.jpg" class="box-image img-responsive"></div>
                        <div class="info-box">
                            <h3 class="name">Works everywhere</h3>
                            <p class="description">From updating pending status to closing out inspections completely, to an availale history of all inspections this beta attempts to cover it all.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
