// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin_profile {
  height: 300px;
  width: 300px;
  text-align: center;
  color: white;
  background-color: #333;
  border-color: #333;
  padding-top: 60px;
  float: left;
  border-radius: 50%;

}

.admin_profile h3 {
  color: white;
}

.pending_inspections {
  width: 350px;
  height: 100%;
  float: right;
  padding: 20px;

}

.pending_link {
  background-color: #f5f558;
  color: black;
  height: 40px;
  width: 200px;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 40px;
  border-radius: 3pt;
}

.pending_link a {
  text-decoration: none;
  color: #59544c;
}

.edit_button {
  background-color: #f5f558;
  color: black;
  height: 40px;
  width: 200px;
  text-decoration: none;
  padding-top: 10px;

  border-radius: 3pt;
  margin-left: 50px;
}

.edit_button a {
  text-align: center;
  text-decoration: none;
  color: #59544c;
}


.completed_inspections {
  width: 700px;
  height: 100%;
  float: left;
  padding: 20px;

}

.seperator {
  width: 100%;
}

.completed_button {
  background-color: #2dff31;
  color: black;
  height: 40px;
  width: 200px;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 40px;
  border-radius: 3pt;
}

.completed_button a {
  text-decoration: none;
  color: #59544c;
}

.admin_background {
  height: 400px;
  background-image: url('http://i.imgur.com/GPsJVKX.jpg');
  background-size: cover;
}

.admin_new {
  height: 400px;
  background-image: url('http://i.imgur.com/rTQ4Q45.jpg');
  background-size: cover;
}

.admin_edit {
  height: 400px;
  background-image: url('http://i.imgur.com/v7jDcpc.jpg');
  background-size: cover;
}

.admin_login {
  height: 400px;
  background-image: url('http://i.imgur.com/9xt2CHe.jpg');
  background-size: cover;

}
