// Place all the styles related to the inspections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.inspection_show {
  margin-top: 40px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#job_map {
  margin-left: auto;
  margin-right: auto;
  border-radius: 7pt;
}

.approve_button {
  background-color: #2dff31;
  color: black;
  height: 40px;
  width: 200px;
  text-decoration: none;
  padding-top: 10px;
  border-radius: 3pt;
  text-align: center;
}

.approve_button a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.add_status {
  background-color: #ff2d2d;
  color: black;
  height: 40px;
  width: 200px;
  text-decoration: none;
  padding-top: 10px;
  border-radius: 3pt;
  text-align: center;
  margin-top: 15px;

}

.add_status a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.back_button {
  background-color: #f5f558;
  color: black;
  height: 40px;
  width: 200px;
  text-decoration: none;
  padding-top: 10px;
  border-radius: 3pt;
  text-align: center;
  margin-top: 15px;

}

.back_button a {
  text-decoration: none;
  color: black;
  text-align: center;

}
