// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#job_map {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.claim_button {
  background-color: #ffe74f;
  color: black;
  height: 40px;
  width: 200px;
  text-decoration: none;
  padding-top: 10px;
  border-radius: 3pt;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.claim_button a {
  text-decoration: none;
  color: black;
  text-align: center;

}

.job_index {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 200px;
  text-align: center;
  border-radius: 3pt;

}

.note_background {
  height: 400px;
  background-image: url('http://i.imgur.com/v9iLhBN.jpg');
  background-size: cover;
}

.job_index_background {
  height: 400px;
  background-image: url('http://i.imgur.com/6lY2GPz.jpg');
  background-size: cover;
}
